[submodule "3rdparty/Megatron-Bridge"]
	path = 3rdparty/Megatron-Bridge-workspace/Megatron-Bridge
	url = https://github.com/YigongQin/Megatron-Bridge.git
	branch = yigongq/infopt-cutedsl-w4a16
	fetchRecurseSubmodules = false
[submodule "3rdparty/Automodel-workspace/Automodel"]
	path = 3rdparty/Automodel-workspace/Automodel
	url = https://github.com/NVIDIA-NeMo/Automodel.git
	branch = main
	shallow = true
[submodule "3rdparty/Gym-workspace/Gym"]
	path = 3rdparty/Gym-workspace/Gym
	url = https://github.com/NVIDIA-NeMo/Gym.git
	branch = main
	shallow = true
